<a href="https://colab.research.google.com/github/ORCT/ds-section2-project/blob/main/02.%20EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 2. EDA
- Time 데이터 sec 기준으로 변경
  - 스플릿해서 m*60 + s + p/100
- Rank 데이터 수치형으로 변경
- Kart 데이터 NaN을 신규 카트바디인 '렉키 V1'으로 변경
- Track 데이터 '알수없는 트랙'은 신규 트랙으로 대부분의 유저들의 이해도가 부족할 것으로 판단해서 삭제

In [ ]:
import pandas as pd

df = pd.read_csv('preprocessed_data.csv')
df

,Match_Id,Track,User_1_Rank,User_1_Kart,User_1_Name,User_1_Time,User_2_Rank,User_2_Kart,User_2_Name,User_2_Time,User_3_Rank,User_3_Kart,User_3_Name,User_3_Time,User_4_Rank,User_4_Kart,User_4_Name,User_4_Time
0,Color맥라렌/1,차이나 라사,1,NaN,Color맥라렌,1'50'03,2,프로토 바이크 V1,KR퀵서비스,1'50'04,3,나이트 세이버 V1,하이럼스미스,1'50'66,4.0,멘티스 X,Color옴팡이,1'51'98
1,Color맥라렌/2,네모 장난감 선물공장,1,NaN,Color맥라렌,1'50'03,2,프로토 바이크 V1,KR퀵서비스,1'50'04,3,나이트 세이버 V1,하이럼스미스,1'50'66,4.0,멘티스 X,Color옴팡이,1'51'98
2,Color맥라렌/3,쥐라기 공룡 결투장,1,NaN,Color맥라렌,1'50'03,2,프로토 바이크 V1,KR퀵서비스,1'50'04,3,나이트 세이버 V1,하이럼스미스,1'50'66,4.0,멘티스 X,Color옴팡이,1'51'98
3,Color맥라렌/4,차이나 라사,1,NaN,Color맥라렌,1'50'03,2,프로토 바이크 V1,KR퀵서비스,1'50'04,3,나이트 세이버 V1,하이럼스미스,1'50'66,4.0,멘티스 X,Color옴팡이,1'51'98
4,Color맥라렌/5,메이플 헤네시스 공원,1,NaN,Color맥라렌,1'50'03,2,프로토 바이크 V1,KR퀵서비스,1'50'04,3,나이트 세이버 V1,하이럼스미스,1'50'66,4.0,멘티스 X,Color옴팡이,1'51'98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,까이브/96,노르테유 스카이웨이,1,NaN,YJWP,1'07'20,2,스펙터 V1,뱩소현,1'07'25,3,NaN,까이브,1'09'02,4.0,NaN,l지존지후l,1'09'49
2796,까이브/97,WKC 코리아 서킷,1,NaN,YJWP,1'07'20,2,스펙터 V1,뱩소현,1'07'25,3,NaN,까이브,1'09'02,4.0,NaN,l지존지후l,1'09'49
2797,까이브/98,메이플 리스항구 언덕길,1,NaN,YJWP,1'07'20,2,스펙터 V1,뱩소현,1'07'25,3,NaN,까이브,1'09'02,4.0,NaN,l지존지후l,1'09'49
2798,까이브/99,월드 이탈리아 피사의 사탑,1,NaN,YJWP,1'07'20,2,스펙터 V1,뱩소현,1'07'25,3,NaN,까이브,1'09'02,4.0,NaN,l지존지후l,1'09'49
2799,까이브/100,월드 두바이 다운타운,1,NaN,YJWP,1'07'20,2,스펙터 V1,뱩소현,1'07'25,3,NaN,까이브,1'09'02,4.0,NaN,l지존지후l,1'09'49

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Match_Id     2800 non-null   object
 1   Track        2800 non-null   object
 2   User_1_Rank  2800 non-null   int64
 3   User_1_Kart  1888 non-null   object
 4   User_1_Name  2800 non-null   object
 5   User_1_Time  2100 non-null   object
 6   User_2_Rank  2800 non-null   int64
 7   User_2_Kart  2278 non-null   object
 8   User_2_Name  2800 non-null   object
 9   User_2_Time  2600 non-null   object
 10  User_3_Rank  2800 non-null   int64
 11  User_3_Kart  1887 non-null   object
 12  User_3_Name  2800 non-null   object
 13  User_3_Time  2800 non-null   object
 14  User_4_Rank  2799 non-null   float64
 15  User_4_Kart  2088 non-null   object
 16  User_4_Name  2799 non-null   object
 17  User_4_Time  2599 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 393.9+ KB

In [ ]:
df.isna().sum().sum()# 맞더라, 결측치랑 리타이어 포함하니까 얼추 맞아

4162

In [ ]:
for i in range(1,5):
  na_idx = df[f'User_{i}_Time'].isna()
  m, s, p = df.loc[~na_idx, f'User_{i}_Time'].str.split('\'').str
  df.loc[~na_idx, f'User_{i}_Time'] = m.astype(int)*60 + s.astype(int) + p.astype(float)/100
  df.loc[na_idx, f'User_{i}_Time'] = 999.99

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  This is separate from the ipykernel package so we can avoid doing imports until

,Match_Id,Track,User_1_Rank,User_1_Kart,User_1_Name,User_1_Time,User_2_Rank,User_2_Kart,User_2_Name,User_2_Time,User_3_Rank,User_3_Kart,User_3_Name,User_3_Time,User_4_Rank,User_4_Kart,User_4_Name,User_4_Time
0,Color맥라렌/1,차이나 라사,1,NaN,Color맥라렌,110.03,2,프로토 바이크 V1,KR퀵서비스,110.04,3,나이트 세이버 V1,하이럼스미스,110.66,4.0,멘티스 X,Color옴팡이,111.98
1,Color맥라렌/2,네모 장난감 선물공장,1,NaN,Color맥라렌,110.03,2,프로토 바이크 V1,KR퀵서비스,110.04,3,나이트 세이버 V1,하이럼스미스,110.66,4.0,멘티스 X,Color옴팡이,111.98
2,Color맥라렌/3,쥐라기 공룡 결투장,1,NaN,Color맥라렌,110.03,2,프로토 바이크 V1,KR퀵서비스,110.04,3,나이트 세이버 V1,하이럼스미스,110.66,4.0,멘티스 X,Color옴팡이,111.98
3,Color맥라렌/4,차이나 라사,1,NaN,Color맥라렌,110.03,2,프로토 바이크 V1,KR퀵서비스,110.04,3,나이트 세이버 V1,하이럼스미스,110.66,4.0,멘티스 X,Color옴팡이,111.98
4,Color맥라렌/5,메이플 헤네시스 공원,1,NaN,Color맥라렌,110.03,2,프로토 바이크 V1,KR퀵서비스,110.04,3,나이트 세이버 V1,하이럼스미스,110.66,4.0,멘티스 X,Color옴팡이,111.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,까이브/96,노르테유 스카이웨이,1,NaN,YJWP,67.2,2,스펙터 V1,뱩소현,67.25,3,NaN,까이브,69.02,4.0,NaN,l지존지후l,69.49
2796,까이브/97,WKC 코리아 서킷,1,NaN,YJWP,67.2,2,스펙터 V1,뱩소현,67.25,3,NaN,까이브,69.02,4.0,NaN,l지존지후l,69.49
2797,까이브/98,메이플 리스항구 언덕길,1,NaN,YJWP,67.2,2,스펙터 V1,뱩소현,67.25,3,NaN,까이브,69.02,4.0,NaN,l지존지후l,69.49
2798,까이브/99,월드 이탈리아 피사의 사탑,1,NaN,YJWP,67.2,2,스펙터 V1,뱩소현,67.25,3,NaN,까이브,69.02,4.0,NaN,l지존지후l,69.49
2799,까이브/100,월드 두바이 다운타운,1,NaN,YJWP,67.2,2,스펙터 V1,뱩소현,67.25,3,NaN,까이브,69.02,4.0,NaN,l지존지후l,69.49

In [ ]:
for i in range(1,5):
  na_idx = df[f'User_{i}_Kart'].isna()
  df.loc[na_idx, f'User_{i}_Kart'] = '렉키 V1'

In [ ]:
df['Track'].unique()

array(['차이나 라사', '네모 장난감 선물공장', '쥐라기 공룡 결투장', '메이플 헤네시스 공원', 'WKC 투어링 랠리',
       '빌리지 남산', '차이나 서안 병마용 2', '월드 뉴욕 대질주', '빌리지 고가의 질주',
       '코리아 제주 해오름 다운힐', '차이나 황산', '월드 두바이 다운타운', '노르테유 스카이웨이',
       '월드 이탈리아 피사의 사탑', '메이플 리스항구 언덕길', '쥐라기 공룡 무덤', 'WKC 코리아 서킷',
       '네모 산타의 비밀공간', '메이플 레헬른 악몽의 시계탑', '1920 아슬아슬 비행장', '신화 신들의 세계',
       '브로디 비밀의 연구소', '월드 리오 다운힐', '빌리지 운명의 다리', '비치 해변 드라이브',
       '차이나 골목길 대질주', '광산 위험한 제련소', '[Reverse] 포레스트 지그재그', '해적 숨겨진 보물',
       '어비스 스카이라인', '어비스 숨겨진 바닷길', '광산 꼬불꼬불 다운힐', '팩토리 미완성 5구역',
       '황금문명 비밀장치의 위협', '포레스트 지그재그', '노르테유 익스프레스', '빌리지 손가락',
       '메이플 리스항구 선착장', '메카닉 잊혀진 도시의 중심부', '차이나 상해 동방명주', '잊혀진 모래의 기억',
       '올림포스 하늘의 신전', '해적 가파른 감시탑', '도검 구름의 협곡', '사막 놀라운 공룡 유적지',
       '붐힐 드라이브', '님프 바다 신전의 비밀', '올림포스 제우스 시티', '도검 용의 길', '어비스 운명의 갈림길',
       '포레스트 대관령', '알 수 없는 트랙', '메이플 꿈의 도시 레헬른', '빌리지 지우펀',
       '[Reverse] 차이나 골목길 대질주', '광산 3개의 지름길', '빌리지 붐힐터널', '포레스트 오싹한 공중다리',
       '공동묘지 해골성 대탐험', '동화 이상한 나라의 문', '팩토리 두 개의 공장', '황금문명 오르에트 황금 좌표',
       '문힐시티 숨겨진 지하터널', '대저택 은밀한 지하실', '해적 로비 절벽의 전투', '노르테유 전투비행장',
       '차이나 용의 운하', '차이나 서안 병마용', '네모 강철바위 용광로', '아이스 아찔한 헬기 점프',
       '포레스트 통곡의 절벽', '월드 파리 에펠탑 다이브', '도검 야외 수련관', '동화 잠자는 숲속의 거인',
       '포레스트 기암괴석', '트랙 9', '마비노기 바올 던전', '코리아 다이나믹 서울', '빌리지 익스트림 경기장',
       '카멜롯 펜드래건 캐슬', '문힐시티 폭우속의 질주', '마비노기 이멘 마하', '1920 기차역 질주',
       '신화 차원의 관문', '공동묘지 마왕의 초대', '코리아 부산의 밤', '[Reverse] 아이스 펭귄타운',
       '[Reverse] 코리아 다이나믹 서울', '어비스 배틀 콜로세움', '도검 월하문', '빌리지 고가의 질주 2',
       '포레스트 골짜기', '네모 네모난 마을', '포레스트 행복한 팬더 마을', '황금문명 황금신전을 찾아서',
       'WKC 싱가폴 서킷', '빌리지 운하', '월드 이탈리아 여행', '차이나 북경 자금성', '놀이동산 360 타워'],
      dtype=object)

In [ ]:
df['Track'].value_counts()['알 수 없는 트랙']#매치 수도 적음

16

In [ ]:
df = df[df['Track'] != '알 수 없는 트랙']
df = df.reset_index(drop=True)
df

,Match_Id,Track,User_1_Rank,User_1_Kart,User_1_Name,User_1_Time,User_2_Rank,User_2_Kart,User_2_Name,User_2_Time,User_3_Rank,User_3_Kart,User_3_Name,User_3_Time,User_4_Rank,User_4_Kart,User_4_Name,User_4_Time
0,Color맥라렌/1,차이나 라사,1,렉키 V1,Color맥라렌,110.03,2,프로토 바이크 V1,KR퀵서비스,110.04,3,나이트 세이버 V1,하이럼스미스,110.66,4.0,멘티스 X,Color옴팡이,111.98
1,Color맥라렌/2,네모 장난감 선물공장,1,렉키 V1,Color맥라렌,110.03,2,프로토 바이크 V1,KR퀵서비스,110.04,3,나이트 세이버 V1,하이럼스미스,110.66,4.0,멘티스 X,Color옴팡이,111.98
2,Color맥라렌/3,쥐라기 공룡 결투장,1,렉키 V1,Color맥라렌,110.03,2,프로토 바이크 V1,KR퀵서비스,110.04,3,나이트 세이버 V1,하이럼스미스,110.66,4.0,멘티스 X,Color옴팡이,111.98
3,Color맥라렌/4,차이나 라사,1,렉키 V1,Color맥라렌,110.03,2,프로토 바이크 V1,KR퀵서비스,110.04,3,나이트 세이버 V1,하이럼스미스,110.66,4.0,멘티스 X,Color옴팡이,111.98
4,Color맥라렌/5,메이플 헤네시스 공원,1,렉키 V1,Color맥라렌,110.03,2,프로토 바이크 V1,KR퀵서비스,110.04,3,나이트 세이버 V1,하이럼스미스,110.66,4.0,멘티스 X,Color옴팡이,111.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,까이브/96,노르테유 스카이웨이,1,렉키 V1,YJWP,67.2,2,스펙터 V1,뱩소현,67.25,3,렉키 V1,까이브,69.02,4.0,렉키 V1,l지존지후l,69.49
2780,까이브/97,WKC 코리아 서킷,1,렉키 V1,YJWP,67.2,2,스펙터 V1,뱩소현,67.25,3,렉키 V1,까이브,69.02,4.0,렉키 V1,l지존지후l,69.49
2781,까이브/98,메이플 리스항구 언덕길,1,렉키 V1,YJWP,67.2,2,스펙터 V1,뱩소현,67.25,3,렉키 V1,까이브,69.02,4.0,렉키 V1,l지존지후l,69.49
2782,까이브/99,월드 이탈리아 피사의 사탑,1,렉키 V1,YJWP,67.2,2,스펙터 V1,뱩소현,67.25,3,렉키 V1,까이브,69.02,4.0,렉키 V1,l지존지후l,69.49
2783,까이브/100,월드 두바이 다운타운,1,렉키 V1,YJWP,67.2,2,스펙터 V1,뱩소현,67.25,3,렉키 V1,까이브,69.02,4.0,렉키 V1,l지존지후l,69.49

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2784 entries, 0 to 2783
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Match_Id     2784 non-null   object
 1   Track        2784 non-null   object
 2   User_1_Rank  2784 non-null   int64
 3   User_1_Kart  2784 non-null   object
 4   User_1_Name  2784 non-null   object
 5   User_1_Time  2784 non-null   object
 6   User_2_Rank  2784 non-null   int64
 7   User_2_Kart  2784 non-null   object
 8   User_2_Name  2784 non-null   object
 9   User_2_Time  2784 non-null   object
 10  User_3_Rank  2784 non-null   int64
 11  User_3_Kart  2784 non-null   object
 12  User_3_Name  2784 non-null   object
 13  User_3_Time  2784 non-null   float64
 14  User_4_Rank  2783 non-null   float64
 15  User_4_Kart  2784 non-null   object
 16  User_4_Name  2783 non-null   object
 17  User_4_Time  2784 non-null   object
dtypes: float64(2), int64(3), object(13)
memory usage: 391.6+ KB

In [ ]:
df['User_4_Name'][df['User_4_Name'].isna()]#3명짜리 매치라서 4번째가 안잡힌거임, 즉 데이터는 일단 다 정리 됐다

200    NaN
Name: User_4_Name, dtype: object

- 차량의 성능을 불러와서 데이터 프레임에 추가
- 1,2,3,4로 나눠져 있던 User 데이터들을 하나로 통합

In [ ]:
import numpy as np
a = df['User_1_Kart'].unique().tolist()
b = df['User_2_Kart'].unique().tolist()
c = df['User_3_Kart'].unique().tolist()
d = df['User_4_Kart'].unique().tolist()
e = set(a+b+c+d)
e

{'경찰차 V1',
 '골든 파라곤 X',
 '그믐 산군 V1',
 '나이트 세이버 V1',
 '렉키 V1',
 '렉키 X',
 '멘티스 X',
 '몬스터 X LE',
 '블랙 코튼 V1',
 '비트 V1',
 '스펙터 V1',
 '아이언 솔리드 V1',
 '어벤저 V1',
 '이온 V1',
 '카본 비트 V1',
 '크로노스 X',
 '크롬 버스트 V1',
 '태극 V1',
 '파라곤 9',
 '파라곤 X',
 '파이어 마라톤 V1',
 '폭스 V1',
 '프로토 바이크 V1',
 '플라즈마 V1',
 '황금 미술 붓 X',
 '흰 소 X'}

In [ ]:
kart_data = pd.read_csv('kart_data.csv')
kart_data

          Name  드리프트   가속력   코너링  부스터시간  부스터충전량
0       경찰차 V1  1030  1032   950    920     540
1     골든 파라곤 X  1065  1057  1052   1053     600
2     그믐 산군 V1  1050  1099   960    930     500
3   나이트 세이버 V1  1050  1024   965    950     600
4        렉키 V1  1020  1020   965    780     880
5         렉키 X   890   902   880    660    1000
6        멘티스 X  1015  1009  1037    840     700
7     몬스터 X LE  1015  1009  1030   1005     590
8     블랙 코튼 V1   970   949   950    860     600
9        비트 V1  1020  1024   925    910     590
10      스펙터 V1  1105  1105  1040   1005     490
11  아이언 솔리드 V1  1010  1020   925    910     570
12      어벤저 V1  1105  1105  1015   1005     500
13       이온 V1  1040  1099   970    930     540
14    카본 비트 V1  1060  1024   935    930     500
15      크로노스 X  1057  1057  1075   1053     600
16   크롬 버스트 V1  1015  1099   960    930     520
17       태극 V1  1105  1105  1015   1005     510
18       파라곤 9   900   795   875    870     530
19       파라곤 X  1015  1009  1040   1005     580
20  파이어 마라톤 V1  1015  1024   950   1000     560
21       폭스 V1  1040  1024   972    950     560
22  프로토 바이크 V1   940  1000   885    780     880
23     플라즈마 V1  1060  1020   970    880     800
24   황금 미술 붓 X  1010  1014  1015   1005     570
25       흰 소 X  1015  1004  1005   1005     630

In [ ]:
df_fin = pd.DataFrame()
cnt = 0
for i in range(2784):
  for j in range(1,5):
    df_fin.loc[cnt, 'Match_Id'] = df.loc[i,'Match_Id']
    df_fin.loc[cnt,'Track'] = df.loc[i,'Track']
    cnt += 1
df_fin

         Match_Id           Track
0      Color맥라렌/1          차이나 라사
1      Color맥라렌/1          차이나 라사
2      Color맥라렌/1          차이나 라사
3      Color맥라렌/1          차이나 라사
4      Color맥라렌/2     네모 장난감 선물공장
...           ...             ...
11131      까이브/99  월드 이탈리아 피사의 사탑
11132     까이브/100     월드 두바이 다운타운
11133     까이브/100     월드 두바이 다운타운
11134     까이브/100     월드 두바이 다운타운
11135     까이브/100     월드 두바이 다운타운

[11136 rows x 2 columns]

In [ ]:
kart_tmp = kart_data.set_index('Name')
kart_tmp

            드리프트   가속력   코너링  부스터시간  부스터충전량
Name
경찰차 V1      1030  1032   950    920     540
골든 파라곤 X    1065  1057  1052   1053     600
그믐 산군 V1    1050  1099   960    930     500
나이트 세이버 V1  1050  1024   965    950     600
렉키 V1       1020  1020   965    780     880
렉키 X         890   902   880    660    1000
멘티스 X       1015  1009  1037    840     700
몬스터 X LE    1015  1009  1030   1005     590
블랙 코튼 V1     970   949   950    860     600
비트 V1       1020  1024   925    910     590
스펙터 V1      1105  1105  1040   1005     490
아이언 솔리드 V1  1010  1020   925    910     570
어벤저 V1      1105  1105  1015   1005     500
이온 V1       1040  1099   970    930     540
카본 비트 V1    1060  1024   935    930     500
크로노스 X      1057  1057  1075   1053     600
크롬 버스트 V1   1015  1099   960    930     520
태극 V1       1105  1105  1015   1005     510
파라곤 9        900   795   875    870     530
파라곤 X       1015  1009  1040   1005     580
파이어 마라톤 V1  1015  1024   950   1000     560
폭스 V1       1040  1024   972    950     560
프로토 바이크 V1   940  1000   885    780     880
플라즈마 V1     1060  1020   970    880     800
황금 미술 붓 X   1010  1014  1015   1005     570
흰 소 X       1015  1004  1005   1005     630

In [ ]:
#이름, 랭크, 타임, 카트, 드리프트, 가속력, 코너링, 부스터시간, 부스터충전량
cnt = 0
for i in range(0, 11136, 4):
  for j in range(1,5):
    df_fin.loc[i+j-1, 'Name'] = df.loc[cnt, f'User_{j}_Name']
    df_fin.loc[i+j-1, 'Rank'] = df.loc[cnt, f'User_{j}_Rank']
    df_fin.loc[i+j-1, 'Time'] = df.loc[cnt, f'User_{j}_Time']
    df_fin.loc[i+j-1, 'Kart'] = df.loc[cnt, f'User_{j}_Kart']
    df_fin.loc[i+j-1, '드리프트'] = kart_tmp.loc[df.loc[cnt, f'User_{j}_Kart'], '드리프트']
    df_fin.loc[i+j-1, '가속력'] = kart_tmp.loc[df.loc[cnt, f'User_{j}_Kart'], '가속력']
    df_fin.loc[i+j-1, '코너링'] = kart_tmp.loc[df.loc[cnt, f'User_{j}_Kart'], '코너링']
    df_fin.loc[i+j-1, '부스터시간'] = kart_tmp.loc[df.loc[cnt, f'User_{j}_Kart'], '부스터시간']
    df_fin.loc[i+j-1, '부스터충전량'] = kart_tmp.loc[df.loc[cnt, f'User_{j}_Kart'], '부스터충전량']
  cnt += 1

df_fin

,Match_Id,Track,Name,Rank,Time,Kart,드리프트,가속력,코너링,부스터시간,부스터충전량
0,Color맥라렌/1,차이나 라사,Color맥라렌,1.0,110.03,렉키 V1,1020.0,1020.0,965.0,780.0,880.0
1,Color맥라렌/1,차이나 라사,KR퀵서비스,2.0,110.04,프로토 바이크 V1,940.0,1000.0,885.0,780.0,880.0
2,Color맥라렌/1,차이나 라사,하이럼스미스,3.0,110.66,나이트 세이버 V1,1050.0,1024.0,965.0,950.0,600.0
3,Color맥라렌/1,차이나 라사,Color옴팡이,4.0,111.98,멘티스 X,1015.0,1009.0,1037.0,840.0,700.0
4,Color맥라렌/2,네모 장난감 선물공장,Color맥라렌,1.0,110.03,렉키 V1,1020.0,1020.0,965.0,780.0,880.0
...,...,...,...,...,...,...,...,...,...,...,...
11131,까이브/99,월드 이탈리아 피사의 사탑,l지존지후l,4.0,69.49,렉키 V1,1020.0,1020.0,965.0,780.0,880.0
11132,까이브/100,월드 두바이 다운타운,YJWP,1.0,67.20,렉키 V1,1020.0,1020.0,965.0,780.0,880.0
11133,까이브/100,월드 두바이 다운타운,뱩소현,2.0,67.25,스펙터 V1,1105.0,1105.0,1040.0,1005.0,490.0
11134,까이브/100,월드 두바이 다운타운,까이브,3.0,69.02,렉키 V1,1020.0,1020.0,965.0,780.0,880.0
11135,까이브/100,월드 두바이 다운타운,l지존지후l,4.0,69.49,렉키 V1,1020.0,1020.0,965.0,780.0,880.0

In [ ]:
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11136 entries, 0 to 11135
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Match_Id  11136 non-null  object
 1   Track     11136 non-null  object
 2   Name      11135 non-null  object
 3   Rank      11135 non-null  float64
 4   Time      11136 non-null  float64
 5   Kart      11136 non-null  object
 6   드리프트      11136 non-null  float64
 7   가속력       11136 non-null  float64
 8   코너링       11136 non-null  float64
 9   부스터시간     11136 non-null  float64
 10  부스터충전량    11136 non-null  float64
dtypes: float64(7), object(4)
memory usage: 1.3+ MB

#### 특성 설명

- Match Id : 모조리 고유값, 분석할 때는 무조건 드랍.

- Trakc : Time에 직접적인 영향을 끼치는 특성, 다만 Time을 평균값으로 사용한다면 크게 의미없음

- Name : 약간은 타임이랑 관련이 있을 수 있음. 기록이란 건 결국 누군가의 실력이니까, 잘하는 사람이면 기록이 잘 나올 가능성.

- Rank : 판단보류. 기록이 랭크랑 직결되긴 하지만 랭크는 어디까지나 해당 매치 안에서만 작용하는 부분이니까 랭크를 예측하는게 아니라면 그렇게까지 쓸모있을까?

- Time : 타겟이다

- Kart : Time에 직접적인 영향을 주는 특성

- 드리프트, 가속력, 코너링, 부스터시간, 부스터충전량 : Kart의 성능.

In [ ]:
df_fin = df_fin.dropna()
df_fin.reset_index(inplace=True, drop=True)
df_fin

,Match_Id,Track,Name,Rank,Time,Kart,드리프트,가속력,코너링,부스터시간,부스터충전량
0,Color맥라렌/1,차이나 라사,Color맥라렌,1.0,110.03,렉키 V1,1020.0,1020.0,965.0,780.0,880.0
1,Color맥라렌/1,차이나 라사,KR퀵서비스,2.0,110.04,프로토 바이크 V1,940.0,1000.0,885.0,780.0,880.0
2,Color맥라렌/1,차이나 라사,하이럼스미스,3.0,110.66,나이트 세이버 V1,1050.0,1024.0,965.0,950.0,600.0
3,Color맥라렌/1,차이나 라사,Color옴팡이,4.0,111.98,멘티스 X,1015.0,1009.0,1037.0,840.0,700.0
4,Color맥라렌/2,네모 장난감 선물공장,Color맥라렌,1.0,110.03,렉키 V1,1020.0,1020.0,965.0,780.0,880.0
...,...,...,...,...,...,...,...,...,...,...,...
11130,까이브/99,월드 이탈리아 피사의 사탑,l지존지후l,4.0,69.49,렉키 V1,1020.0,1020.0,965.0,780.0,880.0
11131,까이브/100,월드 두바이 다운타운,YJWP,1.0,67.20,렉키 V1,1020.0,1020.0,965.0,780.0,880.0
11132,까이브/100,월드 두바이 다운타운,뱩소현,2.0,67.25,스펙터 V1,1105.0,1105.0,1040.0,1005.0,490.0
11133,까이브/100,월드 두바이 다운타운,까이브,3.0,69.02,렉키 V1,1020.0,1020.0,965.0,780.0,880.0
11134,까이브/100,월드 두바이 다운타운,l지존지후l,4.0,69.49,렉키 V1,1020.0,1020.0,965.0,780.0,880.0

In [ ]:
df_fin.to_csv('data_fin.csv', index=False)